server:
  port: 18760
  # 优雅停机
  shutdown: GRACEFUL
  servlet:
    encoding:
      enabled: true
      charset: UTF-8
      force: true
  # undertow:
  #   threads:
  #     io: 4 # 设置IO线程数, 它主要执行非阻塞的任务,它们会负责多个连接, 默认设置每个CPU核心一个线程
  #     worker: 80  # 阻塞任务线程池, 当执行类似servlet请求阻塞操作, undertow会从这个线程池中取得线程,它的值设置取决于系统的负载
  #   buffer-size: 2048  # 以下的配置会影响buffer,这些buffer会用于服务器连接的IO操作,有点类似netty的池化内存管理 , 每块buffer的空间大小,越小的空间被利用越充分
  #   direct-buffers: true  # 是否分配的直接内存
luohuo:
  version: 3.0.0
  thread:
    multiplier: 2  # 线程乘数
    min: 4         # 最小线程数
    retry:
      max-count: 3      # 最大重试次数
      delay-seconds: 3  # 多久时候开始重试
  # 微信扫码配置
  wx:
    mp:
      callback: https://468ov9ww8878.vicp.fun
      configs:
        - appId: wxb28a0fd6d1cae6ba                           # 第一个公众号的appid
          secret: 9c215f8d078422805218221144b9095b            # 公众号的appsecret
          token: nongyehong
          aesKey: 7iNecFLZ8nbtCaMntHYEruSHP1Mk8FmGvrkHwnJzwug # 接口配置里的EncodingAESKey值
  feign:
    # xxl-job-admin 的地址
    job-server: http://127.0.0.1:8767
  webmvc:
    undertow: true
    header: true
  scan:
    enabled: true
    basePackage: com.luohuo
  ignore:
    # 是否启用网关的 uri权限鉴权 (设置为false，则后台不校验访问权限)
    authEnabled: true
    # 前端校验按钮 是否区分大小写
    caseSensitive: false
    # 系统没有配置某个URI时，是否允许访问
    notConfigUriAllow: false
    anyone:       # 请求中 需要携带Tenant 且 需要携带Token(需要登录)，但不需要验证uri权限
      ALL:
        - /*/anyone/**
        - /anyone/**
    anyUser:      # 请求中 需要携带Tenant，但 不需要携带Token(不需要登录) 和 不需要验证uri权限
      ALL:
        - /*/anyUser/**
        - /anyUser/**
    anyTenant:    # 请求中 不需要携带Tenant 且 不需要携带Token(不需要登录) 和 不需要验证uri权限
      ALL:
        - /*/anyTenant/**
        - /anyTenant/**
  system:
    # 登录时否验证密码有效性 （常用于开发环境快速登录）
    verifyPassword: true
    # 登录时否验证验证码有效性 （常用于开发环境快速登录）
    verifyCaptcha: true
    # 默认用户密码
    defPwd: '123456'
    # 密码最大输错次数  小于0不限制
    maxPasswordErrorNum: 10
    # 密码错误锁定用户时间  除了0表示锁定到今天结束，还支持m、h、d、w、M、y等单位
    passwordErrorLockUserTime: '0'
    # 锁定的时间
    lockUserTime: 15
    # 缓存Key前缀
    cachePrefix: luohuo
    # oauth 服务扫描枚举类的包路径
    enumPackage: "com.luohuo"
    # 演示环境启用
    notAllowWrite: false
    notAllowWriteList:
      POST:
        - /defResource
        - /defTenantApplicationRel/cancel
      PUT:
        - /defResource
        - /defResource/moveResource
      DELETE:
        - /defResource*/**
        - /defTenant*/**
        - /defApplication*/**
        - /defUser*/**
        - /defParameter*/**
        - /defDict*/**
        - /defClient*/**
  # swagger 文档通用配置， 主要配置了全局参数、版本号信息、联系人信息  详情看: SwaggerProperties
  swagger:
    license: Powered By luohuo
    licenseUrl: https://github.com/luohuo
    termsOfServiceUrl: https://github.com/luohuo
    contact:  # 联系人信息
      url: https://github.com/luohuo
      name: luohuo
      email: 1046762075@qq.com
    global-operation-parameters:  # 全局参数
      - name: Token
        description: 用户信息
        modelRef: String
        parameterType: header
        required: true
        # 默认值只是方便本地开发时，少填参数，生产环境请禁用swagger或者禁用默认参数
        defaultValue: "test"
      - name: Authorization
        description: 客户端信息
        modelRef: String
        parameterType: header
        required: true
        defaultValue: "bGFtcF93ZWI6bGFtcF93ZWJfc2VjcmV0"
      - name: ApplicationId
        description: 应用ID
        modelRef: String
        parameterType: header
        required: true
        defaultValue: "1"
  echo:  #详情看: EchoProperties
    # 是否启用 远程数据 注解AOP注入
    enabled: true
    aop-enabled: true
    basePackages:
      - com.luohuo.basic
      - com.luohuo.flex
    # 字典类型 和 code 的分隔符
    dictSeparator: '###'
    # 多个字典code 之间的的分隔符
    dictItemSeparator: ','
    # 递归最大深度
    maxDepth: 3
    # 本地缓存配置信息 生产慎用
    guavaCache:
      enabled: false
      maximumSize: 1000
      refreshWriteTime: 2
      refreshThreadPoolSize: 10
  log:  # 详情看：OptLogProperties
    # 开启记录操作日志
    enabled: true
    # 记录到什么地方  DB:mysql LOGGER:日志文件
    type: DB
  xss:
    # 是否开启 xss 过滤器  详情看：XssProperties
    enabled: true
    requestBodyEnabled: false
  captcha:
    # 登录界面的验证码配置 详情看：CaptchaProperties
    type: ARITHMETIC
    width: 158
    height: 58
    len: 2
    charType: 2
  async:  # 全局线程池配置
    corePoolSize: 2
    maxPoolSize: 50
    queueCapacity: 10000
    keepAliveSeconds: 300
    threadNamePrefix: 'luohuo-async-executor-'
  tenant:
    enable: true
    ignoreTables:
      - secure_invoke_record
      - worker_node
      - base_operation_log_ext
      - base_operation_log


# knife4j 文档通用配置 详情看: Knife4jProperties
knife4j:
  enable: true
  setting:
    language: zh_cn
    swagger-model-name: 实体类列表
    #     是否在每个Debug调试栏后显示刷新变量按钮,默认不显示
    enableReloadCacheParameter: true
    #    是否开启界面中对某接口的版本控制,如果开启，后端变化后Ui界面会存在小蓝点
    enableVersion: true
    #    针对RequestMapping的接口请求类型,在不指定参数类型的情况下,如果不过滤,默认会显示7个类型的接口地址参数,如果开启此配置,默认展示一个Post类型的接口地址
    enableFilterMultipartApis: false
    #    是否开启动态参数调试功能
    enableDynamicParameter: true
    #    是否显示Footer
    enableFooter: false
    enableFooterCustom: true
    footerCustomContent: Apache License 2.0 | Copyright  2025 [luohuo-cloud](https://github.com/qianqian)

springdoc:
  # 默认是false，需要设置为true
  default-flat-param-object: true
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
    enabled: ${knife4j.enable}
  api-docs:
    enabled: ${knife4j.enable}
    path: /v3/api-docs

spring:
  mvc:
    pathmatch:
      # 升级springboot2.6.6后临时处理，防止swagger报错
      matching-strategy: ANT_PATH_MATCHER
  lifecycle:
    # 优雅停机宽限期时间
    timeout-per-shutdown-phase: 30s
  servlet:
    # 上传文件最大值
    multipart:
      max-file-size: 512MB
      max-request-size: 512MB

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
      enabled: true

feign:
  httpclient:
    enabled: false
  okhttp:
    enabled: true
  hystrix:
    enabled: false
  sentinel:
    enabled: true
  client:
    config:
      default:
        # feign client 调用全局超时时间
        connectTimeout: 60000
        readTimeout: 60000
        loggerLevel: FULL
    #支持压缩的mime types
  compression:  # 请求压缩
    request:
      enabled: true
      mime-types: text/xml,application/xml,application/json
      min-request-size: 2048
    response:  # 响应压缩
      enabled: true


# Sa-Token配置
sa-token:
  # token前缀
  token-prefix:
  # token名称 (同时也是cookie名称)
  token-name: Token
  # token有效期，单位s 默认30天, -1代表永不过期
  timeout: 2592000
  # token临时有效期 (指定时间内无操作就视为token过期) 单位: 秒
  active-timeout: 60
  # 是否允许同一账号并发登录 (为true时允许一起登录, 为false时新登录挤掉旧登录)
  is-concurrent: false
  # 在多人登录同一账号时，是否共用一个token (为true时所有登录共用一个token, 为false时每次登录新建一个token)
  is-share: false
  # token风格
  token-style: uuid
  # 是否输出操作日志
  is-log: false
  # 开启后，logout() 会自动将 Token 加入黑名单
  is-blacklist: true
  # 设备类型标识（关键配置）
  device:
    pc: PC
    mobile: MOBILE


p6spy:
  filter: true
  config:
    # comma separated list of strings to exclude
    exclude: secure_invoke_record