<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hula.core.chat.mapper.ContactMapper">

    <insert id="refreshOrCreateActiveTime">
        insert into contact(`room_id`,`uid`,`last_msg_id`,`active_time`)
        values
        <foreach collection="memberUidList" item="uid" separator=",">
            (#{roomId},#{uid},#{msgId},#{activeTime})
        </foreach>
        on DUPLICATE KEY UPDATE
        `hide`=0,
        `last_msg_id`=VALUES(last_msg_id),
        `active_time`=VALUES(active_time)
    </insert>

    <select id="getLastMsgIds">
        SELECT  room_id, MAX(last_msg_id) AS last_msg_id
        FROM contact
        WHERE room_id IN
        <foreach item="roomId" collection="roomIds" open="(" separator="," close=")">
            #{roomId}
        </foreach> AND shield = 0 GROUP BY room_id
    </select>
</mapper>
