<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hula.ai.gpt.mapper.CombMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hula.ai.gpt.pojo.entity.Comb" >
        <result column="id" property="id"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="title" property="title"/>
        <result column="type" property="type"/>
        <result column="num" property="num"/>
        <result column="origin_price" property="originPrice"/>
        <result column="price" property="price"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t.id, t.created_by, t.created_time, t.updated_by, t.updated_time, t.title, t.type, t.num, t.origin_price, t.price, t.status, t.del
    </sql>

    <!-- 通用查询条件 -->
    <sql id="BaseSelect">
        select <include refid="Base_Column_List"></include>
        from gpt_comb t
        <where>
            t.del = 0
            <if test="q.id != null and q.id != ''"> and t.id = #{q.id} </if>
            <if test="q.title != null and q.title != ''"> and t.title = #{q.title}</if>
            <if test="q.type != null"> and t.type = #{q.type}</if>
            <if test="q.num != null"> and t.num = #{q.num}</if>
            <if test="q.status != null"> and t.status = #{q.status}</if>
            <if test="q.startDate != null and q.startDate != ''"> and date_format(t.created_time,'%Y-%m-%d') &gt;= #{q.startDate} </if>
            <if test="q.endDate != null and q.endDate != ''"> and date_format(t.created_time,'%Y-%m-%d') &lt;= #{q.endDate} </if>
        </where>
        order by t.id desc
    </sql>

    <select id="pageComb" resultType="com.hula.ai.gpt.pojo.vo.CombVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="listComb" resultType="com.hula.ai.gpt.pojo.vo.CombVO">
        <include refid="BaseSelect"></include>
    </select>

    <select id="getComb" resultType="com.hula.ai.gpt.pojo.vo.CombVO">
        <include refid="BaseSelect"></include>
    </select>

</mapper>