<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luohuo.flex.base.mapper.system.BaseRoleResourceRelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.luohuo.flex.base.entity.system.BaseRoleResourceRel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="BIGINT" property="updateBy"/>
        <result column="resource_id" jdbcType="BIGINT" property="resourceId"/>
        <result column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <result column="role_id" jdbcType="BIGINT" property="roleId"/>
        <result column="created_org_id" jdbcType="BIGINT" property="createdOrgId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , create_time, create_by, update_time, update_by,
        resource_id, application_id, role_id, created_org_id
    </sql>

</mapper>
