<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hula.core.user.mapper.UserMapper">

    <update id="changeUserState">
        UPDATE user
        SET user_state_id = #{userStateId}
        WHERE id = #{employeeId}
    </update>

    <select id="getFriend" resultType="com.hula.core.chat.domain.vo.response.ChatMemberListResp">
        SELECT id AS uid, name, avatar, account_code
        FROM user
        WHERE account_code like #{key}
    </select>
</mapper>
